# Ignore the build and doc directories.
build/
doc/doxygen_doc/*

# Ignore any object or archive file anywhere in the tree.
*.[oa]

# Ignore the Code::Blocks IDE layout files.
Codeblocks_IDE_Files/*/*.layout

# Ignore any Code::Blocks IDE temp files.
*.cbTemp
